<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/NewFile.css}"></link>
<title>ユーザー情報編集</title>
<meta charset="utf-8" />
</head>
<body>
    <h1>ユーザー情報編集</h1>
	<form method = "post" action = "/user/edit">
		<input 
			type="hidden"
			th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}"
		/>
		<input type="hidden" name="id" th:value="*{userlist.id}" />
		<td>部署</td>
		<input type="text" name="busyo" th:value="*{userlist.busyo}"/>
		<td>名前</td>
		<input type="text" name="person_name" th:value="*{userlist.person_name}">
		<td>年齢</td>
		<input type="text" name="age" th:value="*{userlist.age}"/>
		<td>電話番号</td>
		<input type="text" name="telno" th:value="*{userlist.telno}"/>

		<input type="submit" value="編集確定"/>
	</form>

</body>
</html>